:root {
    --background-color: #272d33;
    --background-2: #2d373f;
    --color: #d6d6d6;
    --primary: rgb(117, 93, 110);
    --secondary: rgb(238, 142, 64);
    --text-secondary: rgb(47, 255, 75);
    --button-primary: #ad0000;
    --primary-red: #ad0000;
    --secondary-orange: #e97313;
    --primary-green: #56e05a;
    --discord-button: #3c4b5a;
    --curseforge-button: #cf6813;
}

textarea {
    color: white;
    resize: vertical;
    background-color: black;
}

.bed {
    top: 96%;
    padding: 1%;
    background-color: black;
    width: 100%;
    position: fixed;
    margin: -1%;
    box-shadow: rgb(0, 0, 0) 0px 10px 10px 10px;
    transition: 400ms all ease-in-out;
}

.bed:hover {
    transition: 400ms all ease-in-out;
    top: 95%;
    box-shadow: rgb(0, 0, 0) 0px 10px 10px 15px;
}

.bed2 {
    text-align: right;
    top: 96%;
    padding: 1%;
    width: 100%;
    position: fixed;
    margin: -1%;
    box-shadow: rgb(0, 0, 0) 0px 10px 10px 10px;
    transition: 400ms all ease-in-out;
}

.bed2:hover {
    color: rgb(47, 255, 75);
    text-decoration: none;
}

.top {
    text-align: right;
    top: 1%;
    padding: 1%;
    background-color: black;
    width: 100%;
    height: 0.25%;
    position: fixed;
    margin: -1%;
    box-shadow: rgb(0, 0, 0) 0px 10px 10px 10px;
    transition: 400ms all ease-in-out;
}

.top:hover {
    color: rgb(47, 255, 75);
    text-decoration: none;
}

.top2 {
    text-align: right;
    text-size-adjust: initial;
    top: 1%;
    padding: 1%;
    width: 85%;
    height: 0.25%;
    position: fixed;
    margin: -1%;
    transition: 400ms all ease-in-out;
}

.top2:hover {
    color: rgb(47, 255, 75);
    text-decoration: none;
}

.top3 {
    text-align: right;
    text-size-adjust: initial;
    top: 1%;
    padding: 1%;
    width: 70%;
    height: 0.25%;
    position: fixed;
    margin: -1%;
    transition: 400ms all ease-in-out;
}

.top3:hover {
    color: rgb(47, 255, 75);
    text-decoration: none;
}

.top4 {
    text-align: left;
    top: 1%;
    padding: 1%;
    width: 25%;
    height: 0.25%;
    position: fixed;
    margin: -1%;
    transition: 400ms all ease-in-out;
}

.top4:hover {
    color: rgb(47, 255, 75);
    text-decoration: none;
}


/**/

.s-hidden {
    visibility: hidden;
    padding-right: 20%;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font: normal 11px/22px Arial, Sans-Serif;
    color: white;
    border: 1px solid var(--primary-green);
    border-radius: 4px;
}

.styledSelect {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--background-color);
    padding: 0 10px;
    font-weight: bold;
    border-radius: 2px;
}

.styledSelect:after {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 9px;
    right: 6px;
}

.styledSelect:active,
.styledSelect.active {
    background-color: var(--background-2);
}

.options {
    border-radius: 4px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    border: 1px solid var(--primary-green);
    background-color: var(--background-color);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.options li {
    padding: 0 6px;
    margin: 0 0;
    padding: 0 10px;
}

.options li:hover {
    background-color: var(--primary);
    color: white;
}